ul
{
  list-style-type: none;
  width: 70%;
  margin: auto;
}
button {
  padding: 5px;
  margin-left: 25px;
  margin-bottom: 25px;
}

/* h1, li {
  text-shadow: rgb(97, 89, 89) 0.1em 0.1em 0.2em;

} */

li {
  background: white;
  padding: 5.1%;
  margin: 2%;
  border: solid black 2px;
  border-radius: 25px;
}

.brewList {
  margin: auto;
  border: solid black 5px;
background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.6)
  );
  margin-top: 3.1%;
  padding: 2.1%;
  padding-bottom: 40px;
  width: 35%;
  border-radius: 25px;
}