.header-bar {
  /* background-color: rgb(210, 180, 141); */
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 0.9)
    );
    /* , url('https://wishexperience.files.wordpress.com/2012/10/hops-and-grains1.jpg'); */
background-repeat: no-repeat;
background-size: contain, cover;
  height: 90px;
  padding: 20px;
  border: solid black 5px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.App-title {
  color: white;
  font-size: 40px;
  text-shadow: black 0.1em 0.1em 0.2em;
}

.logout {
  position: absolute;
  right: 30px;
  top: 70px;
}